* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --color1: #F7FBFD;
    --color2: #DDF186;
    --color3: #282E30;
    --color4: #92C5FD;
}



/* Header */

.header{
    padding: 10px 20px;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color3);
    
}

h1 {
    color: var(--color4);
    font-size: 3rem;
}

/* Welcome section */

.welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color: #1a1d1f;


}

.welcome-container {
    height: 600px;
    width: 500px;
    border-radius: 5px;
    background-color: #282E30;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-container *{
    font-size: 2rem;
}

.welcome-container h4 {
    margin-bottom: 20px;
    font-size: 3rem;
}


/* Welcome Form */



.welcome-form{
    margin-bottom: 70px;
}

.welcome-form fieldset {
    padding: 30px 60px;
}

.welcome-form label {
    margin: 10px 0;
}

.welcome-form label:first-child{
    margin-top: 0;
}

.welcome-form input {
    caret-color: #92C5FD;
    background-color: #4d595d;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    
}

.welcome-form input:focus {
    outline: 2px solid #92C5FD;
    border-radius: 4px;
}

.welcome-form *{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-fieldset {
    border: 1px solid #92C5FD;
    border-radius: 4px;
}

.sign-in-btn {
    font-size: 2rem;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--color4);
    color: #1a1d1f);
    border: 2px solid #92C5FD;
    cursor: pointer;
    transition: all .2s ease-in-out 0s;
    margin-top: 20px;
    width: 100px;
}


.sign-in-btn:hover {
    background-color: var(--color3);
    color: var(--color1);
    border: 2px dotted var(--color4);
    transition: none;
}

.sign-in-btn:active {
    background-color: var(--color1);
    color: var(--color3)
    
}

.sign-up-link {
    text-decoration: none;
    color: #92C5FD;
    transition: all .2s ease-in-out 0s ;
}

.sign-up-link:hover {
    color: #DDF186;
    transition: none;
}

.sign-up-link:active {
    color: #fff;
}

/* Footer */

.footer {
    background-color: var(--color3);
    width:100%;
    height: 5vh;
}

